.calculator{
    border: 1px solid black;
    height: 100%;
    width: 100%;
}

.outer-layer{
    margin-top: 50px;
}

.calculator-frame{
    border: 1px solid black;
    width: 41%;
    margin: 0 auto;
    height: 90%;
    text-align: center;
}

.calculator-frame h1{
    font-family: Arial;
}

.calculator-frame #input_value{
    height: 50px;
    width: 88%;
    font-size: 30px;
}

/* Numbers 1 to 3 */
.numbers_1_3{
    margin-top: 30px;
    display: inline-block;
}

.numbers_1_3 button{
    height: 100px;
    width: 100px;
    font-size: 40px;
}

.numbers_1_3 i{
    font-size: 30px;
}

/* Number 4 to 6 */
.numbers_4_6{
    margin-top: 10px;
    display: inline-block;
}

.numbers_4_6 button{
    height: 100px;
    width: 100px;
    font-size: 40px;
}

/* Numbers 7 to 9 */
.numbers_7_9{
    margin-top: 10px;
    display: inline-block;
}

.numbers_7_9 button{
    height: 100px;
    width: 100px;
    font-size: 40px;
}

/* Additional items */
.add_items{
    margin-top: 10px;
    display: inline-block;
}

.add_items button{
    height: 100px;
    width: 100px;
    font-size: 40px;
}

.add_items #equal_to{
    background-color: yellow;
}

/* If the box empty */
.empty{
    border: 2px solid red;
}

/* In case you stretch the window to 600px of width */
@media only screen and (max-width: 600px){
    .calculator-frame{
        width: 100%;
        height: 100%;
        border: none;
    }
}